<section class="advantages">
	<div class="container">
		<h2 class="advantages-title">Our advantages</h2>
		<div class="advantages-block">
			<div class="advantages-block-first"></div>
			<div class="advantages-block-third"></div>
			<div class="advantages-block-second"></div>

			<ul class="advantages-block-list">
				<li class="advantages-block-list-item">
					<svg class="advantages-block-list-item-pic" width="24" height="24">
						<use href="/img/icons.svg#icon-star_small"></use>
					</svg>
					<p class="advantages-block-list-item-text">author's tours</p>
				</li>
				<li class="advantages-block-list-item">
					<svg class="advantages-block-list-item-pic" width="24" height="24">
						<use href="/img/icons.svg#icon-star_small"></use>
					</svg>
					<p class="advantages-block-list-item-text">іndividual approach</p>
				</li>
				<li class="advantages-block-list-item">
					<svg class="advantages-block-list-item-pic" width="24" height="24">
						<use href="/img/icons.svg#icon-star_small"></use>
					</svg>
					<p class="advantages-block-list-item-text">affordable prices</p>
				</li>
				<li class="advantages-block-list-item">
					<svg class="advantages-block-list-item-pic" width="24" height="24">
						<use href="/img/icons.svg#icon-star_small"></use>
					</svg>
					<p class="advantages-block-list-item-text">comfortable transfer</p>
				</li>
				<li class="advantages-block-list-item">
					<svg class="advantages-block-list-item-pic" width="24" height="24">
						<use href="/img/icons.svg#icon-star_small"></use>
					</svg>
					<p class="advantages-block-list-item-text">professional guides</p>
				</li>
				<li class="advantages-block-list-item">
					<svg class="advantages-block-list-item-pic" width="24" height="24">
						<use href="/img/icons.svg#icon-star_small"></use>
					</svg>
					<p class="advantages-block-list-item-text">accommodation in hotels from 3+ *</p>
				</li>
			</ul>
		</div>
	</div>
</section>
