<section class="galery">
	<div class="container">
		<h2 class="galery-title">Gallery</h2>
		<ul class="galery-list">
			<li class="galery-list-item">
				<img
					class="galery-list-item-image"
					src="/img/galery/galery-first.jpg"
					srcset="/img/galery/galery-first@2x.jpg 2x"
					alt="Sunrise in mountains"
				/>
			</li>
			<li class="galery-list-item">
				<img
					class="galery-list-item-image"
					src="/img/galery/galery-second.jpg"
					srcset="/img/galery/galery-second@2x.jpg 2x"
					alt="Sunset over the forest"
				/>
			</li>
			<li class="galery-list-item">
				<img
					class="galery-list-item-image"
					src="/img/galery/galery-third.jpg"
					srcset="/img/galery/galery-third@2x.jpg 2x"
					alt="River in the forest"
				/>
			</li>
			<li class="galery-list-item">
				<img
					class="galery-list-item-image"
					src="/img/galery/galery-fourth.jpg"
					srcset="/img/galery/galery-fourth@2x.jpg 2x"
					alt="Field with flowers"
				/>
			</li>
			<li class="galery-list-item">
				<img
					class="galery-list-item-image"
					src="/img/galery/galery-fifth.jpg"
					srcset="/img/galery/galery-fifth@2x.jpg 2x"
					alt="Lake in the mountains"
				/>
			</li>
			<li class="galery-list-item">
				<img
					class="galery-list-item-image"
					src="/img/galery/galery-sixth.jpg"
					srcset="/img/galery/galery-sixth@2x.jpg 2x"
					alt="Snowy forest"
				/>
			</li>
			<li class="galery-list-item">
				<img
					class="galery-list-item-image"
					src="/img/galery/galery-seventh.jpg"
					srcset="/img/galery/galery-seventh@2x.jpg 2x"
					alt="Snowy mountain"
				/>
			</li>
			<li class="galery-list-item">
				<img
					class="galery-list-item-image"
					src="/img/galery/galery-eighth.jpg"
					srcset="/img/galery/galery-eighth@2x.jpg 2x"
					alt="Evening in the village in the mountains"
				/>
			</li>
		</ul>

		<ul class="upcoming-list">
			<li class="upcoming-list-item">
				<button type="button" class="upcoming-list-item-button" id="galery-button-left">
					<svg class="upcoming-list-item-button-pic-disabled" width="11" height="19" id="galery-left-button-scroll">
						<use href="/img/icons.svg#icon-left"></use>
					</svg>
				</button>
			</li>
			<li class="upcoming-list-item">
				<button type="button" class="upcoming-list-item-button" id="galery-button-right">
					<svg class="upcoming-list-item-button-pic" id="galery-right-button-scroll" width="11" height="19">
						<use href="/img/icons.svg#icon-right"></use>
					</svg>
				</button>
			</li>
		</ul>
	</div>
</section>
