<header class="pageheader">
	<div class="container">
		<div class="header-topline">
			<a class="header-topline-logo" href="#">
				<svg class="header-topline-logo-pic" width="34" height="36">
					<use href="/img/icons.svg#icon-logo"></use>
				</svg>
			</a>
			<button class="pageheader-topline-button" id="button-menu">
				<svg class="pageheader-topline-button-pic" width="28" height="15">
					<use href="/img/icons.svg#icon-menu"></use>
				</svg>
			</button>
			<button class="mobile-menu-close visually-hidden" id="mobile-menu-close">
				<svg class="mobile-menu-close-pic" width="20" height="20">
					<use href="/img/icons.svg#icon-close"></use>
				</svg>
			</button>
		</div>
	</div>
</header>
