<div class="backdrop" id="backdrop">
  <div class="modal">
    <div class="container">
      <button type="button" class="modal-close" id="modal-close">
        <svg class="modal-close-pic" width="15" height="15">
          <use href="/img/icons.svg#icon-close"></use>
        </svg>
      </button>
      <p class="modal-title">Book a tour</p>
      <p class="modal-text">
        You can leave your application here and our manager will call you
        within 10 minutes
      </p>
      <form class="modal-form">
        <input
          type="text"
          name="username"
          class="modal-form-input"
          placeholder="Your name*"
        />
        <input
          type="tel"
          name="phone"
          class="modal-form-input"
          placeholder="Phone number*"
        />

        <fieldset class="modal-form-set">
          <label class="modal-form-label">
            <input
              type="checkbox"
              name="first-check"
              class="visually-hidden modal-form-label-checkbox"
            />
            <span class="modal-form-label-span">
              <svg class="modal-form-label-span-pic" width="20" height="20">
                <use href="/img/icons.svg#icon-checkmark"></use>
              </svg>
            </span>
            Ascent to Hoverla
          </label>
          <label class="modal-form-label">
            <input
              type="checkbox"
              name="second-check"
              class="visually-hidden modal-form-label-checkbox"
            />
            <span class="modal-form-label-span">
              <svg class="modal-form-label-span-pic" width="20" height="20">
                <use href="/img/icons.svg#icon-checkmark"></use>
              </svg>
            </span>
            Ski tour to Bukovel
          </label>
          <label class="modal-form-label">
            <input
              type="checkbox"
              name="third-check"
              class="visually-hidden modal-form-label-checkbox"
            />
            <span class="modal-form-label-span">
              <svg class="modal-form-label-span-pic" width="20" height="20">
                <use href="/img/icons.svg#icon-checkmark"></use>
              </svg>
            </span>
            Week in Carpathians
          </label>
        </fieldset>
        <button class="modal-form-submit" type="submit">CALL ME</button>
      </form>
    </div>
  </div>
</div>
