<section class="question">
	<div class="question-window">
		<h2 class="question-window-title">Do you have any questions?</h2>
		<p class="question-window-text">
			You can leave your questions here and our manager will call you back within 10 minutes
		</p>
		<form class="question-window-form">
			<input
				class="question-window-form-input"
				type="text"
				placeholder="Your name*"
				required
				pattern="[A-Za-zА-Яа-яЁё\s]+"
			/>
			<input class="question-window-form-input" type="tel" placeholder="Phone number*" pattern="\+380\d{9}" required />
			<input
				class="question-window-form-input"
				type="text"
				placeholder="What would you like to know?"
				required
				pattern="[A-Za-zА-Яа-яЁё\s]+"
			/>
			<button type="submit" class="modal-form-submit">CALL ME</button>
		</form>
	</div>
</section>
