<!-- hoverla -->

<div class="upcoming-modal" id="upcoming-modal-hoverla">
	<button type="button" class="upcoming-modal-closebtn" id="upcoming-modal-closebtn">
		<svg class="mobile-menu-close-pic" width="15" height="15">
			<use href="/img/icons.svg#icon-close"></use>
		</svg>
	</button>
	<ul class="upcoming-modal-list">
		<li class="upcoming-modal-list-item first-hoverla selected-card-modal-days" id="first-hoverla">
			<h3 class="upcoming-modal-title">Ascent to Hoverla</h3>
			<div class="upcoming-modal-list-item-block">
				<p class="upcoming-modal-list-item-block-days">1 day</p>
				<ul class="upcoming-modal-list-item-block-options">
					<li class="upcoming-modal-list-item-block-options-item">Departure from Lviv</li>
					<li class="upcoming-modal-list-item-block-options-item">Manyava Hermitage</li>
					<li class="upcoming-modal-list-item-block-options-item">Manyava waterfall</li>
					<li class="upcoming-modal-list-item-block-options-item">Arrival to Bukovel</li>
					<li class="upcoming-modal-list-item-block-options-item">Check-in</li>
					<li class="upcoming-modal-list-item-block-options-item">Dinner</li>
					<li class="upcoming-modal-list-item-block-options-item">Evening by the fireplace</li>
				</ul>
			</div>
			<ul class="upcoming-modal-list-item-listbtn">
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item"></li>
				<li class="upcoming-modal-list-item-listbtn-item"></li>
			</ul>
		</li>

		<li class="upcoming-modal-list-item second-hoverla fourd-position-modal-days" id="second-hoverla">
			<h3 class="upcoming-modal-title">Ascent to Hoverla</h3>

			<div class="upcoming-modal-list-item-block">
				<p class="upcoming-modal-list-item-block-days">
					2 day<span class="upcoming-modal-list-item-block-days-low">Upcoming tours</span>
				</p>
				<ul class="upcoming-modal-list-item-block-options">
					<li class="upcoming-modal-list-item-block-options-item">Breakfast</li>
					<li class="upcoming-modal-list-item-block-options-item">Ascent to Hoverla</li>
					<li class="upcoming-modal-list-item-block-options-item">Dinner</li>
					<li class="upcoming-modal-list-item-block-options-item">Reacretion</li>
					<li class="upcoming-modal-list-item-block-options-item">Sauna</li>
					<li class="upcoming-modal-list-item-block-options-item">Dinner</li>
				</ul>
			</div>
			<ul class="upcoming-modal-list-item-listbtn">
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item"></li>
			</ul>
		</li>

		<li class="upcoming-modal-list-item third-hoverla fived-position-modal-days" id="third-hoverla">
			<h3 class="upcoming-modal-title">Ascent to Hoverla</h3>
			<div class="upcoming-modal-list-item-block">
				<p class="upcoming-modal-list-item-block-days">3 day</p>
				<ul class="upcoming-modal-list-item-block-options">
					<li class="upcoming-modal-list-item-block-options-item">Breakfast</li>
					<li class="upcoming-modal-list-item-block-options-item">A walk around Bukovel</li>
					<li class="upcoming-modal-list-item-block-options-item">Check out from the hotel</li>
					<li class="upcoming-modal-list-item-block-options-item">Yaremche</li>
					<li class="upcoming-modal-list-item-block-options-item">Arrival in Lviv</li>
				</ul>
			</div>
			<ul class="upcoming-modal-list-item-listbtn">
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
			</ul>
		</li>
	</ul>

	<div class="upcoming-modal-btnblock">
		<p class="upcoming-modal-price">UAH 4,499/person</p>
		<button class="upcoming-modal-bookbtn" id="upcoming-modal-bookbtn">BOOK A TOUR</button>
	</div>
</div>

<!-- bukovel -->

<div class="upcoming-modal" id="upcoming-modal-bukovel">
	<button type="button" class="upcoming-modal-closebtn" id="upcoming-modal-closebtn">
		<svg class="mobile-menu-close-pic" width="15" height="15">
			<use href="/img/icons.svg#icon-close"></use>
		</svg>
	</button>
	<ul class="upcoming-modal-list">
		<li class="upcoming-modal-list-item first-bukovel selected-card-modal-days" id="first-bukovel">
			<h3 class="upcoming-modal-title">Ski tour to Bukovel</h3>
			<div class="upcoming-modal-list-item-block-bukovel">
				<p class="upcoming-modal-list-item-block-days">1 day</p>
				<ul class="upcoming-modal-list-item-block-options">
					<li class="upcoming-modal-list-item-block-options-item">Departure from Lviv</li>
					<li class="upcoming-modal-list-item-block-options-item">Manyava Hermitage</li>
					<li class="upcoming-modal-list-item-block-options-item">Manyava waterfall</li>
					<li class="upcoming-modal-list-item-block-options-item">Arrival to Bukovel</li>
					<li class="upcoming-modal-list-item-block-options-item">Check-in</li>
					<li class="upcoming-modal-list-item-block-options-item">Dinner</li>
					<li class="upcoming-modal-list-item-block-options-item">Evening by the fireplace</li>
				</ul>
			</div>
			<ul class="upcoming-modal-list-item-listbtn">
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item"></li>
				<li class="upcoming-modal-list-item-listbtn-item"></li>
				<li class="upcoming-modal-list-item-listbtn-item"></li>
			</ul>
		</li>

		<li class="upcoming-modal-list-item second-bukovel" id="second-bukovel">
			<h3 class="upcoming-modal-title">Ski tour to Bukovel</h3>
			<div class="upcoming-modal-list-item-block-bukovel">
				<p class="upcoming-modal-list-item-block-days">2 day</p>
				<ul class="upcoming-modal-list-item-block-options">
					<li class="upcoming-modal-list-item-block-options-item">Breakfast</li>
					<li class="upcoming-modal-list-item-block-options-item">Recreation</li>
					<li class="upcoming-modal-list-item-block-options-item">Lunch</li>
					<li class="upcoming-modal-list-item-block-options-item">Recreation</li>
					<li class="upcoming-modal-list-item-block-options-item">Dinner</li>
					<li class="upcoming-modal-list-item-block-options-item">Vacation</li>
				</ul>
			</div>
			<ul class="upcoming-modal-list-item-listbtn">
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item"></li>
				<li class="upcoming-modal-list-item-listbtn-item"></li>
			</ul>
		</li>

		<li class="upcoming-modal-list-item third-bukovel" id="third-bukovel">
			<h3 class="upcoming-modal-title">Ski tour to Bukovel</h3>
			<div class="upcoming-modal-list-item-block-bukovel">
				<p class="upcoming-modal-list-item-block-days">3 day</p>
				<ul class="upcoming-modal-list-item-block-options">
					<li class="upcoming-modal-list-item-block-options-item">Breaskfast</li>
					<li class="upcoming-modal-list-item-block-options-item">A walk around Bukovel</li>
					<li class="upcoming-modal-list-item-block-options-item">Dinner</li>
					<li class="upcoming-modal-list-item-block-options-item">Recreation</li>
					<li class="upcoming-modal-list-item-block-options-item">СSauna</li>
					<li class="upcoming-modal-list-item-block-options-item">Dinner</li>
				</ul>
			</div>
			<ul class="upcoming-modal-list-item-listbtn">
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item"></li>
			</ul>
		</li>

		<li class="upcoming-modal-list-item fourd-bukovel selected-card-modal-days" id="fourd-bukovel">
			<h3 class="upcoming-modal-title">Ski tour to Bukovel</h3>
			<div class="upcoming-modal-list-item-block-bukovel">
				<p class="upcoming-modal-list-item-block-days">4 day</p>
				<ul class="upcoming-modal-list-item-block-options">
					<li class="upcoming-modal-list-item-block-options-item">Breakfast</li>
					<li class="upcoming-modal-list-item-block-options-item">Recreation</li>
					<li class="upcoming-modal-list-item-block-options-item">Dinner</li>
					<li class="upcoming-modal-list-item-block-options-item">Departure from Bukovel</li>
					<li class="upcoming-modal-list-item-block-options-item">Arrival in Lviv</li>
				</ul>
			</div>
			<ul class="upcoming-modal-list-item-listbtn">
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
			</ul>
		</li>
	</ul>

	<div class="upcoming-modal-btnblock">
		<p class="upcoming-modal-price">UAH 7,499/person</p>
		<button class="upcoming-modal-bookbtn" id="upcoming-modal-bookbtn-bukovel">BOOK A TOUR</button>
	</div>
</div>
