<!-- hoverla -->

<div class="upcoming-modal" id="upcoming-modal-hoverla">
	<button type="button" class="upcoming-modal-closebtn" id="upcoming-modal-closebtn-hoverla">
		<svg class="mobile-menu-close-pic" width="15" height="15">
			<use href="/img/icons.svg#icon-close"></use>
		</svg>
	</button>
	<ul class="upcoming-modal-list">
		<li class="upcoming-modal-list-item first-hoverla selected-card-modal-days" id="first-hoverla">
			<h3 class="upcoming-modal-title">Ascent to Hoverla</h3>
			<div>
				<p class="upcoming-modal-list-item-block-days-hoverla">1 day</p>
				<ul class="upcoming-modal-list-item-block-options">
					<li class="upcoming-modal-list-item-block-options-item">Departure from Lviv</li>
					<li class="upcoming-modal-list-item-block-options-item">Manyava Hermitage</li>
					<li class="upcoming-modal-list-item-block-options-item">Manyava waterfall</li>
					<li class="upcoming-modal-list-item-block-options-item">Arrival to Bukovel</li>
					<li class="upcoming-modal-list-item-block-options-item">Check-in</li>
					<li class="upcoming-modal-list-item-block-options-item">Dinner</li>
					<li class="upcoming-modal-list-item-block-options-item">Evening by the fireplace</li>
				</ul>
			</div>
		</li>

		<li class="upcoming-modal-list-item second-hoverla right-position" id="second-hoverla">
			<h3 class="upcoming-modal-title">Ascent to Hoverla</h3>

			<div>
				<p class="upcoming-modal-list-item-block-days-hoverla">
					2 day<span class="upcoming-modal-list-item-block-days-low">Upcoming tours</span>
				</p>
				<ul class="upcoming-modal-list-item-block-options">
					<li class="upcoming-modal-list-item-block-options-item">Breakfast</li>
					<li class="upcoming-modal-list-item-block-options-item">Ascent to Hoverla</li>
					<li class="upcoming-modal-list-item-block-options-item">Dinner</li>
					<li class="upcoming-modal-list-item-block-options-item">Reacretion</li>
					<li class="upcoming-modal-list-item-block-options-item">Sauna</li>
					<li class="upcoming-modal-list-item-block-options-item">Dinner</li>
				</ul>
			</div>
		</li>

		<li class="upcoming-modal-list-item third-hoverla right-position" id="third-hoverla">
			<h3 class="upcoming-modal-title">Ascent to Hoverla</h3>
			<div>
				<p class="upcoming-modal-list-item-block-days-hoverla">3 day</p>
				<ul class="upcoming-modal-list-item-block-options">
					<li class="upcoming-modal-list-item-block-options-item">Breakfast</li>
					<li class="upcoming-modal-list-item-block-options-item">A walk around Bukovel</li>
					<li class="upcoming-modal-list-item-block-options-item">Check out from the hotel</li>
					<li class="upcoming-modal-list-item-block-options-item">Yaremche</li>
					<li class="upcoming-modal-list-item-block-options-item">Arrival in Lviv</li>
				</ul>
			</div>
		</li>
	</ul>

	<div class="upcoming-modal-btnblock">
		<ul class="upcoming-modal-list-item-listbtn">
			<li class="upcoming-modal-list-item-listbtn-item selected-card-days">
				<button class="swap-btn"></button>
			</li>
			<li class="upcoming-modal-list-item-listbtn-item">
				<button class="swap-btn"></button>
			</li>
			<li class="upcoming-modal-list-item-listbtn-item">
				<button class="swap-btn"></button>
			</li>
		</ul>
		<p class="upcoming-modal-price">UAH 4,499/person</p>
		<button class="upcoming-modal-bookbtn">BOOK A TOUR</button>
	</div>
</div>

<!-- bukovel -->

<div class="upcoming-modal" id="upcoming-modal-bukovel">
	<button type="button" class="upcoming-modal-closebtn" id="upcoming-modal-closebtn-bukovel">
		<svg class="mobile-menu-close-pic" width="15" height="15">
			<use href="/img/icons.svg#icon-close"></use>
		</svg>
	</button>
	<ul class="upcoming-modal-list">
		<li class="upcoming-modal-list-item first-bukovel selected-card-modal-days" id="first-bukovel">
			<h3 class="upcoming-modal-title">Ski tour to Bukovel</h3>
			<div>
				<p class="upcoming-modal-list-item-block-days-bukovel">1 day</p>
				<ul class="upcoming-modal-list-item-block-options">
					<li class="upcoming-modal-list-item-block-options-item">Departure from Lviv</li>
					<li class="upcoming-modal-list-item-block-options-item">Manyava Hermitage</li>
					<li class="upcoming-modal-list-item-block-options-item">Manyava waterfall</li>
					<li class="upcoming-modal-list-item-block-options-item">Arrival to Bukovel</li>
					<li class="upcoming-modal-list-item-block-options-item">Check-in</li>
					<li class="upcoming-modal-list-item-block-options-item">Dinner</li>
					<li class="upcoming-modal-list-item-block-options-item">Evening by the fireplace</li>
				</ul>
			</div>
		</li>

		<li class="upcoming-modal-list-item second-bukovel right-position" id="second-bukovel">
			<h3 class="upcoming-modal-title">Ski tour to Bukovel</h3>
			<div>
				<p class="upcoming-modal-list-item-block-days-bukovel">2 day</p>
				<ul class="upcoming-modal-list-item-block-options">
					<li class="upcoming-modal-list-item-block-options-item">Breakfast</li>
					<li class="upcoming-modal-list-item-block-options-item">Recreation</li>
					<li class="upcoming-modal-list-item-block-options-item">Lunch</li>
					<li class="upcoming-modal-list-item-block-options-item">Recreation</li>
					<li class="upcoming-modal-list-item-block-options-item">Dinner</li>
					<li class="upcoming-modal-list-item-block-options-item">Vacation</li>
				</ul>
			</div>
		</li>

		<li class="upcoming-modal-list-item third-bukovel right-position" id="third-bukovel">
			<h3 class="upcoming-modal-title">Ski tour to Bukovel</h3>
			<div>
				<p class="upcoming-modal-list-item-block-days-bukovel">3 day</p>
				<ul class="upcoming-modal-list-item-block-options">
					<li class="upcoming-modal-list-item-block-options-item">Breaskfast</li>
					<li class="upcoming-modal-list-item-block-options-item">A walk around Bukovel</li>
					<li class="upcoming-modal-list-item-block-options-item">Dinner</li>
					<li class="upcoming-modal-list-item-block-options-item">Recreation</li>
					<li class="upcoming-modal-list-item-block-options-item">СSauna</li>
					<li class="upcoming-modal-list-item-block-options-item">Dinner</li>
				</ul>
			</div>
		</li>

		<li class="upcoming-modal-list-item fourd-bukovel right-position" id="fourd-bukovel">
			<h3 class="upcoming-modal-title">Ski tour to Bukovel</h3>
			<div>
				<p class="upcoming-modal-list-item-block-days-bukovel">4 day</p>
				<ul class="upcoming-modal-list-item-block-options">
					<li class="upcoming-modal-list-item-block-options-item">Breakfast</li>
					<li class="upcoming-modal-list-item-block-options-item">Recreation</li>
					<li class="upcoming-modal-list-item-block-options-item">Dinner</li>
					<li class="upcoming-modal-list-item-block-options-item">Departure from Bukovel</li>
					<li class="upcoming-modal-list-item-block-options-item">Arrival in Lviv</li>
				</ul>
			</div>
		</li>
	</ul>

	<div class="upcoming-modal-btnblock">
		<ul class="upcoming-modal-list-item-listbtn">
			<li class="upcoming-modal-list-item-listbtn-item selected-card-days">
				<button class="swap-btn"></button>
			</li>
			<li class="upcoming-modal-list-item-listbtn-item">
				<button class="swap-btn"></button>
			</li>
			<li class="upcoming-modal-list-item-listbtn-item">
				<button class="swap-btn"></button>
			</li>
			<li class="upcoming-modal-list-item-listbtn-item">
				<button class="swap-btn"></button>
			</li>
		</ul>
		<p class="upcoming-modal-price">UAH 7,499/person</p>
		<button class="upcoming-modal-bookbtn">BOOK A TOUR</button>
	</div>
</div>

<!-- Carpathians -->

<div class="upcoming-modal" id="upcoming-modal-carpathians">
	<button type="button" class="upcoming-modal-closebtn" id="upcoming-modal-closebtn-carpathians">
		<svg class="mobile-menu-close-pic" width="15" height="15">
			<use href="/img/icons.svg#icon-close"></use>
		</svg>
	</button>
	<ul class="upcoming-modal-list">
		<li class="upcoming-modal-list-item first-carpathians selected-card-modal-days" id="first-carpathians">
			<h3 class="upcoming-modal-title">Week in Carpathians</h3>
			<div class="upcoming-modal-list-item-block-carpathians">
				<p class="upcoming-modal-list-item-block-days-carpathians">1 day</p>
				<ul class="upcoming-modal-list-item-block-options">
					<li class="upcoming-modal-list-item-block-options-item">Departure from Lviv</li>
					<li class="upcoming-modal-list-item-block-options-item">Dovbush rocks</li>
					<li class="upcoming-modal-list-item-block-options-item">Lunch</li>
					<li class="upcoming-modal-list-item-block-options-item">Tustan fortress</li>
					<li class="upcoming-modal-list-item-block-options-item">Check-in</li>
					<li class="upcoming-modal-list-item-block-options-item">Dinner</li>
				</ul>
			</div>
			<ul class="upcoming-modal-list-item-listbtn">
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item"></li>
				<li class="upcoming-modal-list-item-listbtn-item"></li>
				<li class="upcoming-modal-list-item-listbtn-item"></li>
				<li class="upcoming-modal-list-item-listbtn-item"></li>
				<li class="upcoming-modal-list-item-listbtn-item"></li>
				<li class="upcoming-modal-list-item-listbtn-item"></li>
			</ul>
		</li>

		<li class="upcoming-modal-list-item second-carpathians right-position" id="second-carpathians">
			<h3 class="upcoming-modal-title">Week in Carpathians</h3>
			<div class="upcoming-modal-list-item-block-carpathians">
				<p class="upcoming-modal-list-item-block-days-carpathians">2 day</p>
				<ul class="upcoming-modal-list-item-block-options">
					<li class="upcoming-modal-list-item-block-options-item">Breakfast</li>
					<li class="upcoming-modal-list-item-block-options-item">Lake Synevyr</li>
					<li class="upcoming-modal-list-item-block-options-item">Ecopark “Valley of Wolves”</li>
					<li class="upcoming-modal-list-item-block-options-item">Lunch</li>
					<li class="upcoming-modal-list-item-block-options-item">Excursion to Kolochava</li>
					<li class="upcoming-modal-list-item-block-options-item">Dinner</li>
				</ul>
			</div>
			<ul class="upcoming-modal-list-item-listbtn">
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item"></li>
				<li class="upcoming-modal-list-item-listbtn-item"></li>
				<li class="upcoming-modal-list-item-listbtn-item"></li>
				<li class="upcoming-modal-list-item-listbtn-item"></li>
				<li class="upcoming-modal-list-item-listbtn-item"></li>
			</ul>
		</li>

		<li class="upcoming-modal-list-item third-carpathians right-position" id="third-carpathians">
			<h3 class="upcoming-modal-title">Week in Carpathians</h3>
			<div class="upcoming-modal-list-item-block-carpathians">
				<p class="upcoming-modal-list-item-block-days-carpathians">3 day</p>
				<ul class="upcoming-modal-list-item-block-options">
					<li class="upcoming-modal-list-item-block-options-item">Breakfast</li>
					<li class="upcoming-modal-list-item-block-options-item">Shipit waterfall</li>
					<li class="upcoming-modal-list-item-block-options-item">Gimba mountain</li>
					<li class="upcoming-modal-list-item-block-options-item">Recreation</li>
					<li class="upcoming-modal-list-item-block-options-item">Dinner</li>
				</ul>
			</div>
			<ul class="upcoming-modal-list-item-listbtn">
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item"></li>
				<li class="upcoming-modal-list-item-listbtn-item"></li>
				<li class="upcoming-modal-list-item-listbtn-item"></li>
				<li class="upcoming-modal-list-item-listbtn-item"></li>
			</ul>
		</li>

		<li class="upcoming-modal-list-item fourd-carpathians right-position" id="fourd-carpathians">
			<h3 class="upcoming-modal-title">Week in Carpathians</h3>
			<div class="upcoming-modal-list-item-block">
				<p class="upcoming-modal-list-item-block-days-carpathians">4 day</p>
				<ul class="upcoming-modal-list-item-block-options">
					<li class="upcoming-modal-list-item-block-options-item">Breakfast</li>
					<li class="upcoming-modal-list-item-block-options-item">Deer farm in Iza</li>
					<li class="upcoming-modal-list-item-block-options-item">Warm waters in Velyatino</li>
					<li class="upcoming-modal-list-item-block-options-item">Geographical center of Europe</li>
					<li class="upcoming-modal-list-item-block-options-item">Dinner</li>
				</ul>
			</div>
			<ul class="upcoming-modal-list-item-listbtn">
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item"></li>
				<li class="upcoming-modal-list-item-listbtn-item"></li>
				<li class="upcoming-modal-list-item-listbtn-item"></li>
			</ul>
		</li>

		<li class="upcoming-modal-list-item fived-carpathians right-position" id="fived-carpathians">
			<h3 class="upcoming-modal-title">Week in Carpathians</h3>
			<div class="upcoming-modal-list-item-block">
				<p class="upcoming-modal-list-item-block-days-carpathians">5 day</p>
				<ul class="upcoming-modal-list-item-block-options">
					<li class="upcoming-modal-list-item-block-options-item">Breakfast</li>
					<li class="upcoming-modal-list-item-block-options-item">Ascent to Hoverla</li>
					<li class="upcoming-modal-list-item-block-options-item">Reacreation</li>
					<li class="upcoming-modal-list-item-block-options-item">Dinner</li>
				</ul>
			</div>
			<ul class="upcoming-modal-list-item-listbtn">
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item"></li>
				<li class="upcoming-modal-list-item-listbtn-item"></li>
			</ul>
		</li>

		<li class="upcoming-modal-list-item sixed-carpathians right-position" id="sixed-carpathians">
			<h3 class="upcoming-modal-title">Week in Carpathians</h3>
			<div class="upcoming-modal-list-item-block">
				<p class="upcoming-modal-list-item-block-days-carpathians">6 day</p>
				<ul class="upcoming-modal-list-item-block-options">
					<li class="upcoming-modal-list-item-block-options-item">Breakfast</li>
					<li class="upcoming-modal-list-item-block-options-item">
						Hut-museum from the <br class="second-br" />
						"Shadows <br class="first-br" />
						of Forgotten <br class="third-br" />
						Ancestors"
					</li>
					<li class="upcoming-modal-list-item-block-options-item">Lunch</li>
					<li class="upcoming-modal-list-item-block-options-item">Rafting of free time</li>
					<li class="upcoming-modal-list-item-block-options-item">Dinner</li>
				</ul>
			</div>
			<ul class="upcoming-modal-list-item-listbtn">
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item"></li>
			</ul>
		</li>

		<li class="upcoming-modal-list-item sevened-carpathians right-position" id="sevened-carpathians">
			<h3 class="upcoming-modal-title">Week in Carpathians</h3>
			<div class="upcoming-modal-list-item-block">
				<p class="upcoming-modal-list-item-block-days-carpathians">7 day</p>
				<ul class="upcoming-modal-list-item-block-options">
					<li class="upcoming-modal-list-item-block-options-item">Breakfast</li>
					<li class="upcoming-modal-list-item-block-options-item">Dovbush trail</li>
					<li class="upcoming-modal-list-item-block-options-item">Souvenir fair</li>
					<li class="upcoming-modal-list-item-block-options-item">Lunch</li>
					<li class="upcoming-modal-list-item-block-options-item">Probij waterfall</li>
					<li class="upcoming-modal-list-item-block-options-item">Return to Lviv</li>
				</ul>
			</div>
			<ul class="upcoming-modal-list-item-listbtn">
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
				<li class="upcoming-modal-list-item-listbtn-item selected-card-days"></li>
			</ul>
		</li>
	</ul>

	<div class="upcoming-modal-btnblock">
		<p class="upcoming-modal-price">UAH 9,999/person</p>
		<button class="upcoming-modal-bookbtn">BOOK A TOUR</button>
	</div>
</div>
