<section class="upcoming">
	<div class="container">
		<h2 class="upcoming-title">Upcoming tours</h2>
		<ul class="upcoming-tours-list">
			<li class="upcoming-tours-list-item selected-card" id="first-card">
				<img
					class="upcoming-img"
					src="/img/upcoming/hoverla.jpg"
					srcset="/img/upcoming/hoverla.jpg 1x, /img/upcoming/hoverla@2x.jpg 2x"
					alt="hoverla nature"
				/>
				<div class="upcoming-block">
					<h3 class="upcoming-block-title">Ascent to Hoverla</h3>
					<p class="upcoming-block-text">From UAH 4,499/person</p>
					<button class="upcoming-block-button" id="book-hoverla">MORE DETAILS</button>
				</div>
			</li>

			<li class="upcoming-tours-list-item right-position" id="second-card">
				<img
					class="upcoming-img"
					src="/img/upcoming/bukovel.jpg"
					srcset="/img/upcoming/bukovel.jpg 1x, /img/upcoming/bukovel@2x.jpg 2x"
					alt="bukovel nature"
				/>
				<div class="upcoming-block">
					<h3 class="upcoming-block-title">Ski tour to Bukovel</h3>
					<p class="upcoming-block-text">From UAH 7,499/person</p>
					<button class="upcoming-block-button" id="book-bukovel">MORE DETAILS</button>
				</div>
			</li>

			<li class="upcoming-tours-list-item right-position" id="third-card">
				<img
					class="upcoming-img"
					src="/img/upcoming/carpati.jpg"
					srcset="/img/upcoming/carpati.jpg 1x, /img/upcoming/carpati@2x.jpg 2x"
					alt="carpati nature"
				/>
				<div class="upcoming-block">
					<h3 class="upcoming-block-title">Week in Carpathians</h3>
					<p class="upcoming-block-text">From UAH 9,999/person</p>
					<button class="upcoming-block-button" id="book-carpathians">MORE DETAILS</button>
				</div>
			</li>
		</ul>

		<ul class="upcoming-list">
			<li class="upcoming-list-item">
				<button type="button" class="upcoming-list-item-button" id="upcoming-button-left">
					<svg class="upcoming-list-item-button-pic-disabled" width="11" height="19" id="left-button-scroll">
						<use href="/img/icons.svg#icon-left"></use>
					</svg>
				</button>
			</li>
			<li class="upcoming-list-item">
				<button type="button" class="upcoming-list-item-button" id="upcoming-button-right">
					<svg class="upcoming-list-item-button-pic" id="right-button-scroll" width="11" height="19">
						<use href="/img/icons.svg#icon-right"></use>
					</svg>
				</button>
			</li>
		</ul>
	</div>
</section>
