<section class="upcoming">
  <div class="container">
    <h2 class="upcoming-title">Upcoming tours</h2>
    <img
      class="upcoming-img"
      src="/img/upcoming/hoverla.jpg"
      srcset="/img/upcoming/hoverla.jpg 1x, /img/upcoming/hoverla@2x.jpg 2x"
      alt="hoverla nature"
    />
    <div class="upcoming-block">
      <h3 class="upcoming-block-title">Ascent to Hoverla</h3>
      <p class="upcoming-block-text">From UAH 4,499/person</p>
      <button class="upcoming-block-button">MORE DETAILS</button>
    </div>
    <ul class="upcoming-list">
      <li class="upcoming-list-item">
        <button class="upcoming-list-item-button">
          <svg
            class="upcoming-list-item-button-pic end-list"
            width="11"
            height="19"
          >
            <use href="/img/icons.svg#icon-left"></use>
          </svg>
        </button>
      </li>
      <li class="upcoming-list-item">
        <button class="upcoming-list-item-button">
          <svg class="upcoming-list-item-button-pic" width="11" height="19">
            <use href="/img/icons.svg#icon-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
