.about {
	padding: 33px 0 26px;
}

@media screen and (min-width: 768px) {
	.about {
		padding: 80px 0 40px;
	}
}

.about-title {
	font-weight: 400;
	font-size: 32px;
	color: #1b1d1b;
	text-align: center;
	margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
	.about-title {
		margin-bottom: 40px;
		font-size: 52px;
	}
}

@media screen and (min-width: 1440px) {
	.about-title {
		margin-bottom: 60px;
		font-size: 68px;
	}
}

.about-text {
	color: #202321;
}

@media screen and (min-width: 768px) {
	.about-text {
		font-size: 20px;
	}
}

@media screen and (min-width: 1440px) {
	.about-text {
		font-size: 24px;
	}
}

.about-text:not(:last-child) {
	margin-bottom: 10px;
}

@media screen and (min-width: 1440px) {
	.about-text:not(:last-child) {
		margin-bottom: 15px;
	}
}
