.advantages {
	padding: 26px 0;
}

@media screen and (min-width: 768px) {
	.advantages {
		padding: 40px 0;
	}
}

@media screen and (min-width: 1920px) {
	.advantages {
		padding-top: 46px;
	}
}

.advantages .container {
	padding: 0 30px;
}
@media screen and (min-width: 768px) {
	.advantages .container {
		padding: 0 20px;
	}
}

@media screen and (min-width: 1440px) {
	.advantages .container {
		padding: 0 135px;
	}
}

.advantages-title {
	font-weight: 400;
	font-size: 32px;
	text-align: center;
	color: #1b1d1b;
	margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
	.advantages-title {
		margin-bottom: 40px;
		font-size: 52px;
	}
}

@media screen and (min-width: 1440px) {
	.advantages-title {
		margin-bottom: 60px;
		font-size: 68px;
	}
}

.advantages-block {
	background-image: url(/img/advantages/advantages-back.jpg);
	background-color: darkslategrey;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 87px 0;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
	.advantages-block {
		background-image: url(/img/advantages/advantages-back@2x.jpg);
	}
}

@media screen and (min-width: 768px) {
	.advantages-block {
		background-image: none;
		background-color: transparent;
		padding: 0 0;
		display: flex;
		gap: 20px;
		height: 644px;
		position: relative;
	}
}

@media screen and (min-width: 768px) {
	.advantages-block {
		height: 668px;
	}
}

.advantages-block-first {
	display: none;
}

@media screen and (min-width: 768px) {
	.advantages-block-first {
		display: block;
		width: 354px;
		height: 441px;
		background-image: url('/img/advantages/advantages-tab.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
	.advantages-block-first {
		background-image: url('/img/advantages/advantages-tab@2x.jpg');
	}
}

@media screen and (min-width: 1440px) {
	.advantages-block-first {
		width: 377px;
		height: 588px;
		background-image: url('/img/advantages/advantages-desc-first.jpg');
	}
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
	.advantages-block-first {
		background-image: url('/img/advantages/advantages-desc-first@2x.jpg');
	}
}

.advantages-block-third {
	display: none;
}

@media screen and (min-width: 1440px) {
	.advantages-block-third {
		display: block;
		width: 377px;
		height: 507px;
		background-image: url('/img/advantages/advantages-desc-third.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		align-self: center;
	}
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
	.advantages-block-third {
		background-image: url('/img/advantages/advantages-desc-third@2x.jpg');
	}
}

.advantages-block-second {
	display: none;
}

@media screen and (min-width: 768px) {
	.advantages-block-second {
		display: block;
		width: 354px;
		height: 441px;
		background-image: url('/img/advantages/advantages-tab-second.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		align-self: flex-end;
	}
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
	.advantages-block-second {
		background-image: url('/img/advantages/advantages-tab-second@2x.jpg');
	}
}

@media screen and (min-width: 1440px) {
	.advantages-block-second {
		width: 377px;
		height: 588px;
		background-image: url('/img/advantages/advantages-desc-second.jpg');
	}
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
	.advantages-block-second {
		background-image: url('/img/advantages/advantages-desc-second@2x.jpg');
	}
}

.advantages-block-list {
	display: flex;
	flex-wrap: wrap;
	gap: 28px;
}

@media screen and (min-width: 768px) {
	.advantages-block-list {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
		width: 604px;
		gap: 20px;
	}
}

@media screen and (min-width: 1440px) {
	.advantages-block-list {
		width: 630px;
		height: 508px;
		gap: 0;
		flex-direction: column;
		justify-content: space-between;
	}
}

.advantages-block-list-item {
	width: 100%;
	background-color: #5b86a1;
	padding: 8px 0 8px 30px;
	display: flex;
	gap: 8px;
	align-items: center;
}

@media screen and (min-width: 768px) {
	.advantages-block-list-item {
		padding: 12px 0 12px 44px;
		gap: 12px;
		height: 64px;
	}
}

@media screen and (min-width: 1440px) {
	.advantages-block-list-item {
		padding-left: 126px;
	}
}

.advantages-block-list-item-pic {
	fill: #f7fbfb;
}

@media screen and (min-width: 768px) {
	.advantages-block-list-item-pic {
		width: 26px;
		height: 26px;
	}
}

.advantages-block-list-item-text {
	font-size: 14px;
	color: #f7fbfb;
}

@media screen and (min-width: 768px) {
	.advantages-block-list-item-text {
		font-size: 20px;
	}
}

@media screen and (min-width: 1440px) {
	.advantages-block-list-item-text {
		font-size: 24px;
	}
}
