.pagefooter {
	padding: 40px 0;
	background-color: #202321;
}

@media screen and (min-width: 768px) {
	.pagefooter {
		padding: 64px 0;
	}
}

@media screen and (min-width: 1440px) {
	.pagefooter {
		padding: 60px 0 48px;
	}
}

.pagefooter .container {
	padding: 0 0 0 44px;
}

@media screen and (min-width: 768px) {
	.pagefooter .container {
		padding: 0 0 0 114px;
	}
}

@media screen and (min-width: 1440px) {
	.pagefooter .container {
		padding: 0 0 0 333px;
	}
}

.footer-wrapper {
	margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
	.footer-wrapper {
		display: flex;
		gap: 137px;
	}
}

@media screen and (min-width: 1440px) {
	.footer-wrapper {
		gap: 128px;
		margin-bottom: 64px;
	}
}

.pagefooter-title {
	font-weight: 400;
	font-size: 28px;
	text-align: center;
	color: #f7fbfb;
	margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
	.pagefooter-title {
		font-size: 32px;
		margin-bottom: 0;
	}
}

@media screen and (min-width: 1440px) {
	.pagefooter-title {
		font-size: 60px;
	}
}

@media screen and (min-width: 1440px) {
	.footer-wrapper-inner {
		padding-top: 17px;
	}
}

.pagefooter-address {
	margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
	.pagefooter-address {
		margin-bottom: 40px;
	}
}

.pagefooter-address-list {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

@media screen and (min-width: 768px) {
	.pagefooter-address-list {
		gap: 40px;
	}
}

.pagefooter-address-list-item {
	height: 32px;
}

@media screen and (min-width: 768px) {
	.pagefooter-address-list-item {
		height: 40px;
	}
}

.pagefooter-address-list-item-link {
	display: flex;
	height: 100%;
	gap: 4px;
	align-items: center;
}

.pagefooter-address-list-item-link:hover .pagefooter-address-list-item-link-pic {
	fill: #5b86a1;
}

.pagefooter-address-list-item-link:hover .pagefooter-address-list-item-link-text {
	color: #5b86a1;
}

@media screen and (min-width: 768px) {
	.pagefooter-address-list-item-link {
		gap: 8px;
	}
}

.pagefooter-address-list-item-link-pic {
	fill: #f7fbfb;
	transition: fill 250ms;
}

@media screen and (min-width: 768px) {
	.pagefooter-address-list-item-link-pic {
		width: 40px;
		height: 40px;
	}
}

.pagefooter-address-list-item-link-text {
	color: #f7fbfb;
	font-style: normal;
	transition: color 250ms;
}

@media screen and (min-width: 768px) {
	.pagefooter-address-list-item-link-text {
		font-size: 18px;
	}
}

@media screen and (min-width: 1440px) {
	.pagefooter-address-list-item-link-text {
		font-size: 24px;
	}
}

.pagefooter-socials {
	display: flex;
	gap: 32px;
}

.pagefooter-socials-item {
	width: 40px;
	height: 40px;
}

.pagefooter-socials-item-link {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pagefooter-socials-item-link:hover .pagefooter-socials-item-link-pic {
	fill: #5b86a1;
}

.pagefooter-socials-item-link-pic {
	fill: #f7fbfb;
	transition: fill 250ms;
}

.pagefooter-copyright {
	font-family: 'Manrope', sans-serif;
	color: #a3a5a3;
	text-align: center;
}
