.galery {
	padding: 26px 0;
	margin: 0 auto;
}

@media screen and (min-width: 768px) {
	.galery {
		padding: 40px 0;
	}
}

.galery .container {
	overflow: hidden;
}

.galery-title {
	font-weight: 400;
	font-size: 32px;
	text-align: center;
	color: #1b1d1b;
	margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
	.galery-title {
		margin-bottom: 40px;
		font-size: 52px;
	}
}

@media screen and (min-width: 1440px) {
	.galery-title {
		margin-bottom: 60px;

		font-size: 68px;
	}
	.gallery-wrapper {
		overflow: hidden;
	}
}

.galery-list {
	display: flex;
	flex-wrap: nowrap;
	gap: 20px;
	margin-bottom: 24px;
	transition: transform 250ms;
}

@media screen and (min-width: 768px) {
	.galery-list {
		margin-bottom: 32px;
	}
}

@media screen and (min-width: 1440px) {
	.galery-list {
		margin-bottom: 40px;
		/* overflow: hidden; */
	}
}

.galery-list-item {
	flex-basis: 280px;
	flex-shrink: 0;
	/* max-width: 100%; */
}

@media screen and (min-width: 768px) {
	.galery-list-item {
		flex-basis: 354px;
	}
}

@media screen and (min-width: 1440px) {
	.galery-list-item {
		flex-basis: 575px;
	}
}

.galery-list-item-image {
	object-fit: cover;
	cursor: pointer;
}

@media screen and (min-width: 1440px) {
	.galery .upcoming-list {
		width: 140px;
		height: 40px;
	}
	.galery .upcoming-list-item {
		width: 40px;
		height: 40px;
	}
	.galery #galery-right-button-scroll,
	.galery #galery-left-button-scroll {
		width: 15px;
		height: 27px;
	}
}

#modal-image {
	width: 90%;
	height: 90%;
	display: block;
	pointer-events: auto;
	cursor: pointer;
}
