.galery {
	padding: 26px 0;
	max-width: 375px;
	margin: 0 auto;
	overflow: hidden;
}

.galery-title {
	font-weight: 400;
	font-size: 32px;
	text-align: center;
	color: #1b1d1b;
	margin-bottom: 28px;
}

.galery-list {
	display: flex;
	flex-wrap: nowrap;
	gap: 20px;
	margin-bottom: 24px;
	transition: transform 250ms;
	/* transform: translateX(100px); */
}

.galery-list-item {
	flex-basis: 280px;
	flex-shrink: 0;
}
.galery-list-item-image {
	object-fit: cover;
}
