.pageheader {
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 998;
	width: 100%;
	background-color: black;
}

@media screen and (min-width: 768px) {
	.pageheader {
		top: 24px;
	}
}

@media screen and (min-width: 1440px) {
	.pageheader {
		top: 0;
		width: 1170px;
		height: 118px;
	}
}

.pageheader .container {
	max-width: 100%;
}

@media screen and (min-width: 1440px) {
	.pageheader .container {
		padding: 0;
		height: 100%;
	}
}

@media screen and (min-width: 768px) {
	.padding-for-tablet-menu {
		padding-left: 62px;
	}
}

.header-topline {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media screen and (min-width: 1440px) {
	.header-topline {
		height: 100%;
	}
}

.header-topline-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
}

@media screen and (min-width: 768px) {
	.header-topline-logo {
		width: 60px;
		height: 60px;
	}
}

.header-topline-logo-pic {
	fill: #f7fbfb;
}

@media screen and (min-width: 768px) {
	.header-topline-logo-pic {
		width: 56px;
		height: 58px;
	}
}

.header-topline-nav {
	display: none;
}

@media screen and (min-width: 1440px) {
	.header-topline-nav {
		display: block;
	}
}

.header-topline-nav-list {
	display: flex;
	gap: 80px;
}

.header-topline-nav-list-item {
	font-weight: 500;
	font-size: 24px;
	color: #f7fbfb;
}

.header-topline-nav-list-item-link {
	position: relative;
	display: block;
	padding: 10px 0;
}

.header-topline-nav-list-item-link::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0;
	border: 1px solid #f7fbfb;
	border-radius: 2px;
	opacity: 0;
}

.pageheader-topline-button {
	border: none;
	background-color: transparent;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
}

@media screen and (min-width: 1440px) {
	.pageheader-topline-button {
		display: none;
	}
}

.pageheader-topline-button-pic {
	stroke: #f7fbfb;
}

.mobile-menu-close {
	border: none;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	z-index: 999;
}

.mobile-menu-close-pic {
	stroke: #f7fbfb;
}

@media screen and (min-width: 768px) {
	.mobile-menu-close-pic {
		width: 20px;
		height: 20px;
	}
}
