.pageheader {
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 998;
	background-color: blueviolet;
}

@media screen and (min-width: 768px) {
	.pageheader {
		top: 24px;
	}
}

.header-topline {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-topline-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
}
@media screen and (min-width: 768px) {
	.header-topline-logo {
		width: 60px;
		height: 60px;
	}
}

.header-topline-logo-pic {
	fill: #f7fbfb;
}

@media screen and (min-width: 768px) {
	.header-topline-logo-pic {
		width: 56px;
		height: 58px;
	}
}

.pageheader-topline-button {
	border: none;
	background-color: transparent;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
}

.pageheader-topline-button-pic {
	stroke: #f7fbfb;
}

.mobile-menu-close {
	border: none;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	z-index: 999;
}
