.hero {
	min-height: 789px;
	background-color: darkslategrey;
	background-image: url('/img/hero/hero-mobile.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 188px 0 193px;
	position: relative;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
	.hero {
		background-image: url('/img/hero/hero-mobile@2x.jpg');
	}
}

@media screen and (min-width: 768px) {
	.hero {
		min-height: 818px;
		background-image: url('/img/hero/hero-tab.jpg');
		padding: 180px 0 185px;
	}

	.pageheader-title-break::after {
		content: '\A';
		white-space: pre;
	}
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
	.hero {
		background-image: url('/img/hero/hero-tab@2x.jpg');
	}
}

.pageheader-title {
	font-size: 40px;
	text-align: center;
	color: #f7fbfb;
	font-weight: 400;
	margin-bottom: 60px;
	line-height: 1.23;
	text-transform: uppercase;
}

@media screen and (min-width: 768px) {
	.pageheader-title {
		font-size: 68px;
		margin-bottom: 40px;
	}
}

.pageheader-title-long {
	word-break: break-all;
}

@media screen and (min-width: 768px) {
	.pageheader-title-long {
		word-break: normal;
	}
}

.pageheader-text {
	font-weight: 500;
	text-align: center;
	color: #f7fbfb;
	margin-bottom: 88px;
	line-height: 1.25;
}

@media screen and (min-width: 768px) {
	.pageheader-text {
		font-size: 20px;
		width: 470px;
		margin: 0 auto 60px;
	}
}

.pageheader-book {
	width: 92%;
	max-width: 285px;
	height: 52px;
	background-color: #5b86a1;
	border: none;
	font-weight: 500;
	color: #f7fbfb;
	margin: 0 auto;
	transition: background-color 250ms, color 250ms;
}

@media screen and (min-width: 768px) {
	.pageheader-book {
		width: 394px;
		max-width: none;
		height: 56px;
		font-size: 20px;
	}
}

/* .mobile-menu {
	width: 233px;
	height: 100%;
	background: rgba(32, 35, 33, 0.7);
	padding: 132px 0 117px;
	position: absolute;
	left: 0;
	top: 0;
	transform: translateX(-100%);
	transition: transform 250ms;
}

.mobile-menu.open-menu {
	transform: translateX(0);
}

.mobile-menu-nav {
	width: 127px;
	margin-bottom: 64px;
}

.mobile-menu-nav-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.mobile-menu-nav-list-link {
	font-size: 28px;
	color: #f7fbfb;
}

.mobile-menu-social-list {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.mobile-menu-social-list-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
}

.mobile-menu-social-list-link-pic {
	fill: #f7fbfb;
} */
