@import url('./header.css');

@font-face {
  font-family: 'Gilroy', Arial, sans-serif;
  src: url('../fonts/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy-Regular.ttf') format('ttf'),
    url('../fonts/Gilroy-Regular.eot') format('eot');
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #f7fbfb;
}

ul,
ol {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  display: block;
  cursor: pointer;
}

a {
  text-decoration: none;
}

fieldset {
  border: none;
}

.container {
  padding: 0 32px;
  width: 375px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
