.question {
	padding: 26px 0;
	background-image: url('/img/question/question-background.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-width: 375px;
	min-height: 632px;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
	.question {
		background-image: url('/img/question/question-background@2x.jpg');
	}
}

.question-window {
	max-width: 311px;
	background-color: #f7fbfb;
	padding: 28px 20px;
}

.question-window-title {
	font-weight: 500;
	font-size: 20px;
	text-align: center;
	color: #1b1d1b;
	width: 159px;
	margin: 0 auto 20px;
}

.question-window-text {
	font-size: 14px;
	text-align: center;
	color: #202321;
	margin: 0 auto 24px;
	max-width: 243px;
}

.question-window-form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-bottom: 24px;
}

.question-window-form-input {
	border: none;
	border-bottom: 1px solid #a3a5a3;
	outline: none;
	padding: 0 0 8px 4px;
	background: transparent;
	min-height: 28px;
	line-height: 0;
}

.question-window-form-input::placeholder {
	font-weight: 400;
	font-size: 16px;
	color: #202321;
}
.question .modal-form-submit {
	width: 271px;
}
