.question {
	background-image: url('/img/question/question-background.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 632px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 26px;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
	.question {
		background-image: url('/img/question/question-background@2x.jpg');
	}
}

@media screen and (min-width: 768px) {
	.question {
		background-image: url('/img/question/question-background-tab.jpg');
		min-height: 688px;
		margin-top: 40px;
	}
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
	.question {
		background-image: url('/img/question/question-background-tab@2x.jpg');
	}
}

.question-window {
	width: 311px;
	background-color: #f7fbfb;
	padding: 28px 20px;
}

@media screen and (min-width: 768px) {
	.question-window {
		max-width: 478px;
		width: 478px;
		padding: 40px 42px;
	}
}

.question-window-title {
	font-weight: 500;
	font-size: 20px;
	text-align: center;
	color: #1b1d1b;
	margin: 0 auto 20px;
}

@media screen and (min-width: 768px) {
	.question-window-title {
		margin: 0 auto 24px;
		font-size: 32px;
	}
}

.question-window-text {
	font-size: 14px;
	text-align: center;
	color: #202321;
	margin: 0 auto 24px;
	max-width: 243px;
}

@media screen and (min-width: 768px) {
	.question-window-text {
		margin: 0 auto 32px;
		max-width: 374px;
		font-size: 18px;
		word-spacing: 0.27em;
	}
}

.question-window-form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

@media screen and (min-width: 768px) {
	.question-window-form {
		gap: 24px;
		margin: 0 auto;
	}
}

.question-window-form-input {
	border: none;
	border-bottom: 1px solid #a3a5a3;
	outline: none;
	padding: 0 0 8px 4px;
	background: transparent;
	min-height: 28px;
	line-height: 0;
}

@media screen and (min-width: 768px) {
	.question-window-form-input {
		min-height: 32px;
		font-size: 20px;
		width: 354px;
		margin: 0 auto;
	}
}

.question-window-form-input::placeholder {
	font-size: 16px;
	color: #202321;
}

@media screen and (min-width: 768px) {
	.question-window-form-input::placeholder {
		font-size: 20px;
	}
}

.question .modal-form-submit {
	width: 100%;
}
