.upcoming-modal {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 2000;
	display: flex;
	flex-direction: column;
	background-color: #f7fbfb;
	pointer-events: none;
	visibility: hidden;
	transition: opacity 0.5s ease, visibility 0.5s ease;
	opacity: 0;
}

.upcoming-modal.is-open {
	opacity: 1;
	pointer-events: all;
	visibility: visible;
}

.upcoming-modal-closebtn {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 12px;
	right: 12px;
	background: transparent;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 999;
}

@media screen and (min-width: 768px) {
	.upcoming-modal-closebtn {
		width: 40px;
		height: 40px;
		top: 20px;
		right: 20px;
	}
}

@media screen and (min-width: 1440px) {
	.upcoming-modal-closebtn {
		top: 40px;
		right: 40px;
	}
}

.upcoming-modal-list {
	height: 100%;
	position: relative;
	overflow: hidden;
}

.upcoming-modal-list-item {
	height: 100%;
	width: 100%;
	padding-top: 56px;
	transition: transform 250ms;
}

@media screen and (min-width: 768px) {
	.upcoming-modal-list-item {
		padding-top: 60px;
	}
}

@media screen and (min-width: 1440px) {
	.upcoming-modal-list-item {
		padding-top: 108px;
	}
}

.first-hoverla {
	background-image: url('/img/upcoming/hoverla-back.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
	.first-hoverla {
		background-image: url('/img/upcoming/hoverla-back@2x.jpg');
	}
}

@media screen and (min-width: 768px) {
	.first-hoverla {
		background-image: url('/img/upcoming/upcoming-modal-tab/first-hoverla-tab.jpg');
	}
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
	.first-hoverla {
		background-image: url('/img/upcoming/upcoming-modal-tab/first-hoverla-tab@2x.jpg');
	}
}

@media screen and (min-width: 1440px) {
	.first-hoverla {
		background-image: url('/img/upcoming/upcoming-modal-desc/first-hoverla-desc.jpg');
	}
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
	.first-hoverla {
		background-image: url('/img/upcoming/upcoming-modal-desc/first-hoverla-desc@2x.jpg');
	}
}

.upcoming-modal-title {
	font-weight: 600;
	font-size: 18px;
	color: #f7fbfb;
	padding-left: 48px;
	margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
	.upcoming-modal-title {
		padding-left: 60px;
		font-size: 24px;
	}
}

@media screen and (min-width: 1440px) {
	.upcoming-modal-title {
		padding-left: 100px;
		font-size: 40px;
	}
}

.upcoming-modal-list-item-block-days-hoverla {
	padding: 0 9px 0 48px;
	background: #5b86a1;
	border-radius: 0 8px 8px 0;
	font-weight: 500;
	color: #f7fbfb;
	margin-bottom: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 48px;
	width: 278px;
}

@media screen and (min-width: 768px) {
	.upcoming-modal-list-item-block-days-hoverla {
		padding: 0 9px 0 60px;
		margin-bottom: 16px;
		width: 363px;
		font-size: 20px;
	}
}

@media screen and (min-width: 1440px) {
	.upcoming-modal-list-item-block-days-hoverla {
		padding-left: 100px;
		width: 477px;
		font-size: 28px;
	}
}

.upcoming-modal-list-item-block-options {
	padding-left: 48px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

@media screen and (min-width: 768px) {
	.upcoming-modal-list-item-block-options {
		padding-left: 60px;
		gap: 16px;
	}
}

@media screen and (min-width: 1440px) {
	.upcoming-modal-list-item-block-options {
		padding-left: 100px;
	}
}

.upcoming-modal-list-item-block-options-item {
	font-weight: 500;
	color: #f7fbfb;
	line-height: 1.25;
}

@media screen and (min-width: 768px) {
	.upcoming-modal-list-item-block-options-item {
		line-height: 1.2;
		font-size: 20px;
	}
}

@media screen and (min-width: 1440px) {
	.upcoming-modal-list-item-block-options-item {
		font-size: 28px;
	}
}

.upcoming-modal-list-item-listbtn {
	display: flex;
	gap: 12px;
	position: absolute;
	left: 50%;
	top: -32px;
	transform: translateX(-50%);
}

@media screen and (min-width: 768px) {
	.upcoming-modal-list-item-listbtn {
		top: -36px;
	}
}

@media screen and (min-width: 1440px) {
	.upcoming-modal-list-item-listbtn {
		top: -59px;
	}
}

.upcoming-modal-list-item-listbtn-item {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #a3a5a3;
}

@media screen and (min-width: 768px) {
	.upcoming-modal-list-item-listbtn-item {
		width: 16px;
		height: 16px;
	}
}

.swap-btn {
	display: none;
}

@media screen and (min-width: 1440px) {
	.swap-btn {
		display: block;
		width: 100%;
		height: 100%;
		background-color: transparent;
		border: none;
	}
}

.selected-card-days {
	background-color: #f7fbfb;
}

.second-hoverla {
	background-image: url('/img/upcoming/hoverla-second.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
	.second-hoverla {
		background-image: url('/img/upcoming/hoverla-second@2x.jpg');
	}
}

@media screen and (min-width: 768px) {
	.second-hoverla {
		background-image: url('/img/upcoming/upcoming-modal-tab/second-hoverla-tab.jpg');
	}
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
	.second-hoverla {
		background-image: url('/img/upcoming/upcoming-modal-tab/second-hoverla-tab@2x.jpg');
	}
}

@media screen and (min-width: 1440px) {
	.second-hoverla {
		background-image: url('/img/upcoming/upcoming-modal-desc/second-hoverla-desc.jpg');
	}
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
	.second-hoverla {
		background-image: url('/img/upcoming/upcoming-modal-desc/second-hoverla-desc@2x.jpg');
	}
}

.third-hoverla {
	background-image: url('/img/upcoming/hoverla-third.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
	.third-hoverla {
		background-image: url('/img/upcoming/hoverla-third@2x.jpg');
	}
}

@media screen and (min-width: 768px) {
	.third-hoverla {
		background-image: url('/img/upcoming/upcoming-modal-tab/third-hoverla-tab.jpg');
	}
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
	.third-hoverla {
		background-image: url('/img/upcoming/upcoming-modal-tab/third-hoverla-tab@2x.jpg');
	}
}

@media screen and (min-width: 1440px) {
	.third-hoverla {
		background-image: url('/img/upcoming/upcoming-modal-desc/third-hoverla-desc.jpg');
	}
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
	.third-hoverla {
		background-image: url('/img/upcoming/upcoming-modal-desc/third-hoverla-desc@2x.jpg');
	}
}

.upcoming-modal-btnblock {
	padding: 28px 15px;
	position: relative;
}

@media screen and (min-width: 768px) {
	.upcoming-modal-btnblock {
		padding: 40px 0;
	}
}

@media screen and (min-width: 1440px) {
	.upcoming-modal-btnblock {
		padding: 48px 0 60px;
	}
}

.upcoming-modal-price {
	font-weight: 600;
	text-align: center;
	color: #202321;
	margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
	.upcoming-modal-price {
		margin-bottom: 24px;
		font-size: 20px;
	}
}

@media screen and (min-width: 1440px) {
	.upcoming-modal-price {
		margin-bottom: 28px;
		font-size: 24px;
	}
}

.upcoming-modal-bookbtn {
	width: 100%;
	padding: 16px 0;
	font-weight: 500;
	color: #f7fbfb;
	background: #5b86a1;
	border: none;
	margin: 0 auto;
	transition: background-color 250ms, color 250ms;
}

@media screen and (min-width: 768px) {
	.upcoming-modal-bookbtn {
		width: 394px;
		font-size: 20px;
	}
}

@media screen and (min-width: 1440px) {
	.upcoming-modal-bookbtn {
		width: 575px;
		font-size: 24px;
	}
}

.upcoming-modal-list-item-block-days-low {
	font-weight: 500;
	color: #000;
	align-self: flex-end;
	line-height: 2;
}

@media screen and (min-width: 768px) {
	.upcoming-modal-list-item-block-days-low {
		display: none;
	}
}

/* bukovel */

.first-bukovel {
	background-image: url('/img/upcoming/bukovel-first.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
	.first-bukovel {
		background-image: url('/img/upcoming/bukovel-first@2x.jpg');
	}
}

@media screen and (min-width: 768px) {
	.first-bukovel {
		background-image: url('/img/upcoming/upcoming-modal-tab/first-bukovel-tab.jpg');
	}
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
	.first-bukovel {
		background-image: url('/img/upcoming/upcoming-modal-tab/first-bukovel-tab@2x.jpg');
	}
}

@media screen and (min-width: 1440px) {
	.first-bukovel {
		background-image: url('/img/upcoming/upcoming-modal-desc/first-bukovel-desc.jpg');
	}
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
	.first-bukovel {
		background-image: url('/img/upcoming/upcoming-modal-desc/first-bukovel-desc@2x.jpg');
	}
}

.upcoming-modal-list-item-block-days-bukovel {
	padding: 0 9px 0 48px;
	background: #5b86a1;
	border-radius: 0 8px 8px 0;
	font-weight: 500;
	color: #f7fbfb;
	margin-bottom: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 48px;
	width: 300px;
}

@media screen and (min-width: 768px) {
	.upcoming-modal-list-item-block-days-bukovel {
		padding: 0 9px 0 60px;
		margin-bottom: 16px;
		width: 377px;
		font-size: 20px;
	}
}

@media screen and (min-width: 1440px) {
	.upcoming-modal-list-item-block-days-bukovel {
		padding: 7px 9px 7px 100px;
		width: 500px;
		font-size: 28px;
	}
}

.second-bukovel {
	background-image: url('/img/upcoming/bukovel-second.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
	.second-bukovel {
		background-image: url('/img/upcoming/bukovel-second@2x.jpg');
	}
}

@media screen and (min-width: 768px) {
	.second-bukovel {
		background-image: url('/img/upcoming/upcoming-modal-tab/second-bukovel-tab.jpg');
	}
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
	.second-bukovel {
		background-image: url('/img/upcoming/upcoming-modal-tab/second-bukovel-tab@2x.jpg');
	}
}

@media screen and (min-width: 1440px) {
	.second-bukovel {
		background-image: url('/img/upcoming/upcoming-modal-desc/second-bukovel-desc.jpg');
	}
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
	.second-bukovel {
		background-image: url('/img/upcoming/upcoming-modal-desc/second-bukovel-desc@2x.jpg');
	}
}

.third-bukovel {
	background-image: url('/img/upcoming/bukovel-third.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
	.third-bukovel {
		background-image: url('/img/upcoming/bukovel-third@2x.jpg');
	}
}

@media screen and (min-width: 768px) {
	.third-bukovel {
		background-image: url('/img/upcoming/upcoming-modal-tab/third-bukovel-tab.jpg');
	}
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
	.third-bukovel {
		background-image: url('/img/upcoming/upcoming-modal-tab/third-bukovel-tab@2x.jpg');
	}
}

@media screen and (min-width: 1440px) {
	.third-bukovel {
		background-image: url('/img/upcoming/upcoming-modal-desc/third-bukovel-desc.jpg');
	}
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
	.third-bukovel {
		background-image: url('/img/upcoming/upcoming-modal-desc/third-bukovel-desc@2x.jpg');
	}
}

.fourd-bukovel {
	background-image: url('/img/upcoming/bukovel-fourd.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
	.fourd-bukovel {
		background-image: url('/img/upcoming/bukovel-fourd@2x.jpg');
	}
}

@media screen and (min-width: 768px) {
	.fourd-bukovel {
		background-image: url('/img/upcoming/upcoming-modal-tab/fourth-bukovel-tab.jpg');
	}
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
	.fourd-bukovel {
		background-image: url('/img/upcoming/upcoming-modal-tab/fourth-bukovel-tab@2x.jpg');
	}
}

@media screen and (min-width: 1440px) {
	.fourd-bukovel {
		background-image: url('/img/upcoming/upcoming-modal-desc/fourth-bukovel-desc.jpg');
	}
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
	.fourd-bukovel {
		background-image: url('/img/upcoming/upcoming-modal-desc/fourth-bukovel-desc@2x.jpg');
	}
}

/* carpathians */

.first-carpathians {
	background-image: url('/img/upcoming/carpathians-first.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
	.first-carpathians {
		background-image: url('/img/upcoming/carpathians-first@2x.jpg');
	}
}

@media screen and (min-width: 768px) {
	.first-carpathians {
		background-image: url('/img/upcoming/upcoming-modal-tab/first-carpathians-tab.jpg');
	}
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
	.first-carpathians {
		background-image: url('/img/upcoming/upcoming-modal-tab/first-carpathians-tab@2x.jpg');
	}
}

.second-carpathians {
	background-image: url('/img/upcoming/carpathians-second.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
	.second-carpathians {
		background-image: url('/img/upcoming/carpathians-second@2x.jpg');
	}
}

@media screen and (min-width: 768px) {
	.second-carpathians {
		background-image: url('/img/upcoming/upcoming-modal-tab/second-carpathians-tab.jpg');
	}
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
	.second-carpathians {
		background-image: url('/img/upcoming/upcoming-modal-tab/second-carpathians-tab@2x.jpg');
	}
}

.third-carpathians {
	background-image: url('/img/upcoming/carpathians-third.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
	.third-carpathians {
		background-image: url('/img/upcoming/carpathians-third@2x.jpg');
	}
}

@media screen and (min-width: 768px) {
	.third-carpathians {
		background-image: url('/img/upcoming/upcoming-modal-tab/third-carpathians-tab.jpg');
	}
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
	.third-carpathians {
		background-image: url('/img/upcoming/upcoming-modal-tab/third-carpathians-tab@2x.jpg');
	}
}

.fourd-carpathians {
	background-image: url('/img/upcoming/carpathians-fourd.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
	.fourd-carpathians {
		background-image: url('/img/upcoming/carpathians-fourd@2x.jpg');
	}
}

@media screen and (min-width: 768px) {
	.fourd-carpathians {
		background-image: url('/img/upcoming/upcoming-modal-tab/forth-carpathians-tab.jpg');
	}
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
	.fourd-carpathians {
		background-image: url('/img/upcoming/upcoming-modal-tab/forth-carpathians-tab@2x.jpg');
	}
}

.fived-carpathians {
	background-image: url('/img/upcoming/carpathians-fived.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
	.fived-carpathians {
		background-image: url('/img/upcoming/carpathians-fived@2x.jpg');
	}
}

@media screen and (min-width: 768px) {
	.fived-carpathians {
		background-image: url('/img/upcoming/upcoming-modal-tab/fifth-carpathians-tab.jpg');
	}
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
	.fived-carpathians {
		background-image: url('/img/upcoming/upcoming-modal-tab/fifth-carpathians-tab@2x.jpg');
	}
}

.sixed-carpathians {
	background-image: url('/img/upcoming/carpathians-sixed.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
	.sixed-carpathians {
		background-image: url('/img/upcoming/carpathians-sixed@2x.jpg');
	}
}

@media screen and (min-width: 768px) {
	.sixed-carpathians {
		background-image: url('/img/upcoming/upcoming-modal-tab/sixth-carpathians-tab.jpg');
	}
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
	.sixed-carpathians {
		background-image: url('/img/upcoming/upcoming-modal-tab/sixth-carpathians-tab@2x.jpg');
	}
}

.sevened-carpathians {
	background-image: url('/img/upcoming/carpathians-sevened.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
	.sevened-carpathians {
		background-image: url('/img/upcoming/carpathians-sevened@2x.jpg');
	}
}

@media screen and (min-width: 768px) {
	.sevened-carpathians {
		background-image: url('/img/upcoming/upcoming-modal-tab/seventh-carpathians-tab.jpg');
	}
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
	.sevened-carpathians {
		background-image: url('/img/upcoming/upcoming-modal-tab/seventh-carpathians-tab@2x.jpg');
	}
}

.upcoming-modal-list-item-block-days-carpathians {
	padding: 0 9px 0 48px;
	background: #5b86a1;
	border-radius: 0 8px 8px 0;
	font-weight: 500;
	color: #f7fbfb;
	margin-bottom: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 48px;
	width: 255px;
}

@media screen and (min-width: 768px) {
	.upcoming-modal-list-item-block-days-carpathians {
		padding: 0 9px 0 60px;
		margin-bottom: 16px;
		width: 330px;
		font-size: 20px;
	}
}

#upcoming-modal-carpathians .upcoming-modal-list-item-block-options {
	min-width: 285px;
}

/* positions */

.selected-card-modal-days {
	transform: translateX(0);
	position: static;
}

.left-position {
	transform: translateX(-100%);
	position: absolute;
	top: 0;
	left: 0;
}

.right-position {
	transform: translateX(100%);
	position: absolute;
	top: 0;
	left: 0;
}

.first-br {
	display: none;
}

@media screen and (min-width: 768px) {
	.first-br {
		display: block;
	}
}

@media screen and (min-width: 768px) {
	.second-br {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	.third-br {
		display: none;
	}
}
