.upcoming {
	padding: 26px 0;
}

@media screen and (min-width: 768px) {
	.upcoming {
		padding: 40px 0;
	}
	.upcoming .container {
		overflow: hidden;
	}
}

.upcoming-title {
	font-weight: 400;
	font-size: 32px;
	text-align: center;
	color: #1b1d1b;
	margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
	.upcoming-title {
		margin-bottom: 40px;
		font-size: 52px;
	}
}

.upcoming-tours-list {
	position: relative;
	overflow: hidden;
	margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
	.upcoming-tours-list {
		display: flex;
		gap: 20px;
		flex-wrap: nowrap;
		margin-bottom: 32px;
		overflow: visible;
		transition: transform 250ms;
	}
}

.upcoming-tours-list-item {
	width: 100%;
	transition: transform 250ms;
}

@media screen and (min-width: 768px) {
	.upcoming-tours-list-item {
		flex-basis: 354px;
		flex-shrink: 0;
	}
}

.upcoming-block {
	border-right: 1px solid #5b86a1;
	border-bottom: 1px solid #5b86a1;
	border-left: 1px solid #5b86a1;
	padding: 28px 20px;
}

@media screen and (min-width: 768px) {
	.upcoming-block {
		padding: 48px 20px;
	}
}

.upcoming-block-title {
	font-weight: 600;
	font-size: 20px;
	color: #1b1d1b;
	margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
	.upcoming-block-title {
		margin-bottom: 20px;
		font-size: 24px;
	}
}

.upcoming-block-text {
	font-weight: 600;
	color: #202321;
	margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
	.upcoming-block-text {
		margin-bottom: 40px;
		font-size: 20px;
	}
}

.upcoming-block-button {
	width: 100%;
	height: 53px;
	background-color: #5b86a1;
	border: none;
	font-weight: 500;
	text-transform: uppercase;
	color: #f7fbfb;
	transition: background-color 250ms, color 250ms;
}

@media screen and (min-width: 768px) {
	.upcoming-block-button {
		width: 312px;
		height: 56px;
		font-size: 20px;
	}
}

.upcoming-list {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 96px;
}

@media screen and (min-width: 768px) {
	.upcoming-list {
		width: 104px;
	}
}

.upcoming-list-item {
	width: 28px;
	height: 28px;
}

@media screen and (min-width: 768px) {
	.upcoming-list-item {
		width: 32px;
		height: 32px;
	}
}

.upcoming-list-item-button {
	width: 100%;
	height: 100%;
	border: none;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}

.upcoming-list-item-button-pic {
	transition: fill 250ms;
	fill: #5b86a1;
}

@media screen and (min-width: 768px) {
	.upcoming-list-item-button-pic {
		width: 12px;
		height: 21px;
	}
}

.upcoming-list-item-button-pic-disabled {
	fill: #a3a5a3;
}

@media screen and (min-width: 768px) {
	.upcoming-list-item-button-pic-disabled {
		width: 12px;
		height: 21px;
	}
}

.selected-card {
	transform: translateX(0);
	position: static;
}

.left-position {
	transform: translateX(-100%);
	position: absolute;
	top: 0;
	left: 0;
}

@media screen and (min-width: 768px) {
	.left-position {
		position: static;
		transform: translateX(0);
	}
}

.right-position {
	transform: translateX(100%);
	position: absolute;
	top: 0;
	left: 0;
}

@media screen and (min-width: 768px) {
	.right-position {
		position: static;
		transform: translateX(0);
	}
}
