.upcoming {
	padding: 26px 0;
}

.upcoming .container {
	overflow: hidden;
}

@media screen and (min-width: 768px) {
	.upcoming {
		padding: 40px 0;
	}
}

.upcoming-title {
	font-weight: 400;
	font-size: 32px;
	text-align: center;
	color: #1b1d1b;
	margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
	.upcoming-title {
		margin-bottom: 40px;
		font-size: 52px;
	}
}

@media screen and (min-width: 1440px) {
	.upcoming-title {
		margin-bottom: 60px;
		font-size: 68px;
	}
}

.upcoming-tours-list {
	margin-bottom: 24px;
	display: flex;
	gap: 15px;
	flex-wrap: nowrap;
	transition: transform 250ms;
}

@media screen and (min-width: 768px) {
	.upcoming-tours-list {
		gap: 20px;
		margin-bottom: 32px;
	}
}

@media screen and (min-width: 1440px) {
	.upcoming-tours-list {
		margin-bottom: 0;
	}
}

.upcoming-tours-list-item {
	flex-basis: 100%;
	transition: transform 250ms;
	flex-shrink: 0;
}

@media screen and (min-width: 768px) {
	.upcoming-tours-list-item {
		flex-basis: 354px;
	}
}

@media screen and (min-width: 1440px) {
	.upcoming-tours-list-item {
		flex-basis: calc((100% - 40px) / 3);
	}
}

.upcoming-block {
	border-right: 1px solid #5b86a1;
	border-bottom: 1px solid #5b86a1;
	border-left: 1px solid #5b86a1;
	padding: 28px 20px;
}

@media screen and (min-width: 768px) {
	.upcoming-block {
		padding: 48px 20px;
	}
}

@media screen and (min-width: 1440px) {
	.upcoming-block {
		padding: 44px 19px 48px;
	}
}

.upcoming-block-title {
	font-weight: 600;
	font-size: 20px;
	color: #1b1d1b;
	margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
	.upcoming-block-title {
		margin-bottom: 20px;
		font-size: 24px;
	}
}

@media screen and (min-width: 1440px) {
	.upcoming-block-title {
		font-size: 28px;
	}
}

.upcoming-block-text {
	font-weight: 600;
	color: #202321;
	margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
	.upcoming-block-text {
		margin-bottom: 40px;
		font-size: 20px;
	}
}

@media screen and (min-width: 1440px) {
	.upcoming-block-text {
		margin-bottom: 36px;
		font-size: 24px;
	}
}

.upcoming-block-button {
	width: 100%;
	height: 53px;
	background-color: #5b86a1;
	border: none;
	font-weight: 500;
	text-transform: uppercase;
	color: #f7fbfb;
	transition: background-color 250ms, color 250ms;
}

@media screen and (min-width: 768px) {
	.upcoming-block-button {
		width: 312px;
		height: 56px;
		font-size: 20px;
	}
}

@media screen and (min-width: 1440px) {
	.upcoming-block-button {
		width: 337px;
		height: 69px;
		font-size: 24px;
	}
}

.upcoming-list {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 96px;
}

@media screen and (min-width: 768px) {
	.upcoming-list {
		width: 104px;
	}
}

@media screen and (min-width: 1440px) {
	.upcoming-list {
		display: none;
	}
}

.upcoming-list-item {
	width: 28px;
	height: 28px;
}

@media screen and (min-width: 768px) {
	.upcoming-list-item {
		width: 32px;
		height: 32px;
	}
}

.upcoming-list-item-button {
	width: 100%;
	height: 100%;
	border: none;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}

.upcoming-list-item-button-pic {
	transition: fill 250ms;
	fill: #5b86a1;
}

@media screen and (min-width: 768px) {
	.upcoming-list-item-button-pic {
		width: 12px;
		height: 21px;
	}
}

.upcoming-list-item-button-pic-disabled {
	fill: #a3a5a3;
}

@media screen and (min-width: 768px) {
	.upcoming-list-item-button-pic-disabled {
		width: 12px;
		height: 21px;
	}
}
