.upcoming-modal {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 2000;
	display: flex;
	flex-direction: column;
	background-color: #f7fbfb;
	pointer-events: none;
	visibility: hidden;
	transition: opacity 0.5s ease, visibility 0.5s ease;
	opacity: 0;
}

.upcoming-modal.is-open {
	opacity: 1;
	pointer-events: all;
	visibility: visible;
}

.upcoming-modal-closebtn {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 12px;
	right: 12px;
	background: transparent;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 999;
}

.upcoming-modal-list {
	height: 100%;
	position: relative;
	overflow: hidden;
}

.upcoming-modal-list-item {
	min-height: 480px;
	height: 100%;
	width: 100%;
	padding-top: 56px;
	position: relative;
	transition: transform 250ms;
}

.first-hoverla {
	background-image: url('/img/upcoming/hoverla-back.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
	.first-hoverla {
		background-image: url('/img/upcoming/hoverla-back@2x.jpg');
	}
}

.second-hoverla {
	background-image: url('/img/upcoming/hoverla-second.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
	.second-hoverla {
		background-image: url('/img/upcoming/hoverla-second@2x.jpg');
	}
}

.third-hoverla {
	background-image: url('/img/upcoming/hoverla-third.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
	.third-hoverla {
		background-image: url('/img/upcoming/hoverla-third@2x.jpg');
	}
}

.upcoming-modal-title {
	font-weight: 600;
	font-size: 18px;
	color: #f7fbfb;
	padding-left: 48px;
	margin-bottom: 12px;
}

.upcoming-modal-list-item-block-days-hoverla {
	padding: 0 9px 0 48px;
	background: #5b86a1;
	border-radius: 0 8px 8px 0;
	font-weight: 500;
	color: #f7fbfb;
	margin-bottom: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 48px;
	width: 278px;
}

.upcoming-modal-list-item-block-options {
	padding-left: 48px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.upcoming-modal-list-item-block-options-item {
	font-weight: 500;
	color: #f7fbfb;
	line-height: 1.25;
}

.upcoming-modal-list-item-listbtn {
	display: flex;
	gap: 12px;
	position: absolute;
	left: 50%;
	bottom: 20px;
	transform: translateX(-50%);
}

.upcoming-modal-list-item-listbtn-item {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #a3a5a3;
}

.selected-card-days {
	background-color: #f7fbfb;
}

.upcoming-modal-btnblock {
	padding: 28px 15px;
}

.upcoming-modal-price {
	font-weight: 600;
	text-align: center;
	color: #202321;
	margin-bottom: 16px;
}

.upcoming-modal-bookbtn {
	width: 285px;
	padding: 16px 0;
	font-weight: 500;
	color: #f7fbfb;
	background: #5b86a1;
	border: none;
	margin: 0 auto;
	transition: background-color 250ms, color 250ms;
}

.upcoming-modal-bookbtn:active {
	background-color: #f7fbfb;
	color: #1b1d1b;
}

.upcoming-modal-list-item-block-days-low {
	font-weight: 500;
	color: #000;
	align-self: flex-end;
	line-height: 2;
}

.selected-card-modal-days {
	transform: translateX(0);
	position: static;
}

.left-position {
	transform: translateX(-100%);
	position: absolute;
	top: 0;
	left: 0;
}

.right-position {
	transform: translateX(100%);
	position: absolute;
	top: 0;
	left: 0;
}

/* bukovel */

.first-bukovel {
	background-image: url('/img/upcoming/bukovel-first.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
	.first-bukovel {
		background-image: url('/img/upcoming/bukovel-first@2x.jpg');
	}
}

.second-bukovel {
	background-image: url('/img/upcoming/bukovel-second.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
	.second-bukovel {
		background-image: url('/img/upcoming/bukovel-second@2x.jpg');
	}
}

.third-bukovel {
	background-image: url('/img/upcoming/bukovel-third.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
	.third-bukovel {
		background-image: url('/img/upcoming/bukovel-third@2x.jpg');
	}
}

.fourd-bukovel {
	background-image: url('/img/upcoming/bukovel-fourd.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
	.fourd-bukovel {
		background-image: url('/img/upcoming/bukovel-fourd@2x.jpg');
	}
}

.upcoming-modal-list-item-block-days-bukovel {
	padding: 0 9px 0 48px;
	background: #5b86a1;
	border-radius: 0 8px 8px 0;
	font-weight: 500;
	color: #f7fbfb;
	margin-bottom: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 48px;
	width: 300px;
}

/* carpathians */

.first-carpathians {
	background-image: url('/img/upcoming/carpathians-first.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
	.first-carpathians {
		background-image: url('/img/upcoming/carpathians-first@2x.jpg');
	}
}

.second-carpathians {
	background-image: url('/img/upcoming/carpathians-second.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
	.second-carpathians {
		background-image: url('/img/upcoming/carpathians-second@2x.jpg');
	}
}

.third-carpathians {
	background-image: url('/img/upcoming/carpathians-third.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
	.third-carpathians {
		background-image: url('/img/upcoming/carpathians-third@2x.jpg');
	}
}

.fourd-carpathians {
	background-image: url('/img/upcoming/carpathians-fourd.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
	.fourd-carpathians {
		background-image: url('/img/upcoming/carpathians-fourd@2x.jpg');
	}
}

.fived-carpathians {
	background-image: url('/img/upcoming/carpathians-fived.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
	.fived-carpathians {
		background-image: url('/img/upcoming/carpathians-fived@2x.jpg');
	}
}

.sixed-carpathians {
	background-image: url('/img/upcoming/carpathians-sixed.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
	.sixed-carpathians {
		background-image: url('/img/upcoming/carpathians-sixed@2x.jpg');
	}
}

.sevened-carpathians {
	background-image: url('/img/upcoming/carpathians-sevened.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
	.sevened-carpathians {
		background-image: url('/img/upcoming/carpathians-sevened@2x.jpg');
	}
}

.upcoming-modal-list-item-block-days-carpathians {
	padding: 0 9px 0 48px;
	background: #5b86a1;
	border-radius: 0 8px 8px 0;
	font-weight: 500;
	color: #f7fbfb;
	margin-bottom: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 48px;
	width: 255px;
}

#upcoming-modal-carpathians .upcoming-modal-list-item-block-options {
	min-width: 285px;
}
